$dark-blue:#011f4b;
$white-color:white;
$body-background:#EBF5FB;
$child-background:white;
$heightlight-color:#EBF5FB;
$button-color:#4f5b66;
$green:green;
$red:red;
$t-header:#B3B6B7;
$button-color:#3385c6;
@import "setup";
@import "generic";
.flexContainer{
  display:flex;
  flex-direction: column;
}
.detailContainer{
  display:flex;
  margin:2rem auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
@import "user-detail";
@import "table-detail";
@import "media-queries";

//------------------------------------footer----------------------------//
