@import "setup";
html {
  font-size: 62.5%;
  --column-width-min:100px;
}
body {
  text-align: left;
  font-size:2rem;
  background:#f9f9f9;
}
a{
  text-decoration: none;
  color:white;
}
.wrapper{
  width:90%;
  max-width:1400px;
  min-width:320px;
  margin:0 auto;
}
nav{
  background:#0a0a23;
  text-align:center;
  padding:1rem 0;
  a{
    color:white;
    font-size:2rem;
  }
}
.flexContainer{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.detailContainer{
  display:flex;
  margin:2rem auto;
  justify-content: space-between;
  height:85vh;
}
.userInfoContainer{
  display:flex;
  flex-basis: 25%;
  flex-direction: column;
  background: white;
  .profileImgContainer{
    flex-basis: 20%;
    img{
      width:100%;
    }
  }
}
.profileInfoContainer{
  flex-basis: 70%;
  button{
    padding:1rem;
    background:grey;
    border:none;
    position:relative;
    top:50%;
    left:20%;
  }
}
table{
  width: 100%;
  max-width: 100%; 
  border-collapse: collapse;
}
th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
.table{
  background: white;
  padding:2rem;
  flex-basis: 70%;
}
.preNextNav{
  margin-top:2rem;
  display:flex;
  justify-content: center;
  align-items: center;
}
.previous,
.next {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  background: #0a0a23;

}
.next{
  margin-left:2rem;
}
//------------------------------------footer----------------------------//
footer{
  background:#2c2c2c;
  width:100%;
  text-align:center;
  p{
    padding: 1rem 0; 
    color:white;
  }
}