html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  text-align: left;
  font-size: 1rem;
  background: #EBF5FB;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Karla", sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
}

h3 {
  color: black;
  font-size: 2rem;
  margin-bottom: 2rem;
}

nav {
  background: #011f4b;
  text-align: center;
  padding: 1rem 0;
}

nav a {
  color: white;
  font-size: 2rem;
}

.fab {
  font-size: 3rem;
  color: white;
}

.red {
  color: red;
}

.green {
  color: green;
}

footer {
  background: #2c2c2c;
  width: 100%;
  text-align: center;
}

footer p {
  padding: 1rem 0;
  color: white;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.detailContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.userInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userInfoContainer .profileImgContainer {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.userInfoContainer .profileImgContainer img {
  width: 100%;
}

.profileInfoContainer {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  background: #ECF0F1;
}

.profileInfoContainer .toggelUserForm {
  padding: 1rem;
  background: #3385c6;
  margin: 5rem 1rem 0 2rem;
  /*
      position:relative;
      top:20%;
      left:15%;*/
}

.detailForm {
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #EBF5FB;
  color: black;
}

.userDetailForm {
  padding: 3rem 5rem;
  font-size: 2rem;
}

.userDetailForm input {
  width: 100%;
  margin: 1rem auto;
}

.userDetailForm select {
  width: 100%;
  margin: 1rem auto;
}

.userDetailForm button {
  width: calc(50% - 2rem);
  padding: 1rem .5rem;
  margin-top: 1rem;
}

.userDetailSubmitBtn {
  background: #3385c6;
  margin-right: 3rem;
}

.formHeader {
  width: 100%;
  height: 5rem;
  background: #3385c6;
}

.showUserDetail {
  display: none;
  padding: 3rem 2rem;
}

.userName {
  font-size: 3rem;
  color: #011f4b;
}

.currencyOwned,
.userName,
.userEmailInfo,
.userBalanceInfo,
.currencyHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.currencyOwned h3 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.currencyOwned h3:nth-child(even) {
  text-align: rigth;
}

.currencyHeader {
  border-bottom: .20rem solid black;
}

.userInfoLable {
  font-weight: bold;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  color: black;
}

th {
  background: #ECF0F1;
  font-weight: bold;
}

th, td {
  text-align: left;
  padding: 1.5rem .5rem;
}

tr td:first-child,
th:first-of-type {
  padding-left: 2rem;
}

tr {
  border-bottom: solid thin #011f4b;
}

.table {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  padding-bottom: 5rem;
  overflow-x: auto;
  position: relative;
}

.btn {
  border: none;
  border-radius: 20%;
}

.buyBtn {
  background: #2E86C1;
  margin-right: .5rem;
}

.sellBtn {
  background: #D35400;
}

.preNextNav {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.previous,
.next {
  display: inline-block;
  padding: 1rem 2rem;
  background: #283655;
}

.next {
  margin-left: 2rem;
}

.tradeForm {
  display: none;
  width: 60%;
  height: auto;
  position: absolute;
  bottom: 40%;
  right: 10%;
  display: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #EBF5FB;
  color: black;
}

.tradeDetailForm {
  padding: 3rem 5rem;
  font-size: 2rem;
}

.tradeDetailForm button {
  width: calc(50% - 2rem);
  padding: 1rem .5rem;
  margin-top: 1rem;
}

.formHeaderTrade {
  width: 100%;
  height: 5rem;
  background: #3385c6;
}

.currencyInfoTrade,
.userTradeAction,
.currencyInfoTrade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.currencyInfoTrade h3,
.userTradeAction h3,
.currencyInfoTrade h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.pageNumberContainer {
  text-align: center;
}

.pageNumberContainer .pageNumber {
  margin: 10px 0 0 0;
  font-size: 11px;
}

span {
  font-size: 8px;
  display: block;
}

.nameWidth {
  min-width: 100px;
}

@media (max-width: 974px) {
  .detailContainer {
    display: block;
  }
  .profileImgContainer img {
    width: 40%;
    margin: 0 auto;
  }
}

/* Landscape phone to portrait tablet */
/* Landscape phones and down */
